<div class="container">
  <h1><%= @task.title %></h1>

  <p><%= @task.details %></p>

  <p><input type="checkbox" <%= "checked" if @task.completed %>> This task is completed</p>

  <p>
    <%= link_to "Delete",
    task_path(@task),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
    <%= link_to "Update task", edit_task_path %>
    <%= link_to "Back to list", tasks_path %>
  </p>
</div>